:root{
    scroll-behavior: smooth;
}

body{
    margin:0px;
    border:0px;
    padding: 0px;
    font-family: 'Short Stack', cursive;
    font-family: 'Comfortaa', cursive;
}

.contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
}

header{
    height: 100vh;
    background-image: linear-gradient(to top, rgba(120, 241, 250, 0.753) 0%, rgba(151, 218, 225, 0.747) 100%), url('../css/Img/Portada\ 2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.head{
    text-align: center;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
}

nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

.spread{
    transform: translate(0);
}

.menu-navegacion a{
    color: black;
    text-decoration: none;
}

.titulo{
    font-size: 60px;
    margin-bottom: 15px;
}

.copy{
    font-weight: 300;
    font-size: 25px;
}

.subtitulo{
    text-align: center;
    font-weight: 300;
    color: rgb(70, 204, 209);
    margin-bottom: 40px;
    font-size: 40px;
}
.recuerdos{
    text-align: center;
    font-weight: 50;
    color: rgb(0, 83, 139);
    font-size: 17px;
}
.contenedor-servicio{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.contenedor-servicio  img{
    width: 40%;
}
.checklist-servicio{
    width: 45%;

}

.service{
    margin-bottom: 20px;
}

.n-service{
    margin-bottom: 7px;
    color: lightseagreen;
}

.number{
    display: inline-block;
    background-image: linear-gradient(to top, #dbc0e7 0%, #97d9e1 100%);
    width: 30px;
    height: 30px;
    color: black;
    text-align: center;
    border-radius: 50%;
    font-weight: 700;
    line-height: 30px;
    margin-right: 5px;
}

.gallery{
    background: #91e8ebcc;
}

.contenedor-galeria{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.img-galeria{
    object-fit: cover;
    width: 30%;
    display: block;
    margin-bottom: 15px;
    box-shadow: 0 0 6px rgba(0, 0,0, .5);
    cursor: pointer;
}

.imagen-light{
   position: fixed;
   background: rgba(0, 0, 0, .6);
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   transform: translate(100%);
   transition: transform .2s ease-in-out;
}

.show{
    transform: translate(0);
}

.agregar-imagen{
    object-fit: cover;
    width: 60%;
    border-radius: 10px;
    transform: scale(0);
    transition: transform .3s .2s; 
}

.showImage{
    transform: scale(1);
}

.close{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    cursor: pointer;
}

.experts{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.cont-expert{
    width: 30%;
    text-align: center;
    margin-bottom: 20px;
}

.cont-expert img{
    width: 80%;
    display: block;
    margin: 0 auto;
}

.n-expert{
    margin-top: 20px;
    width: 100%;
    font-weight: 400;
}

/*Footer*/
footer{
    background: #91e8eba8;
    padding-bottom: 0.1px;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 40px;
}

.contact-us{
    width: 40%;
    color: black;
}

.marca{
    font-weight: 500;
    font-size: 40px;
}
.marca+p{
    font-weight: 100;    
}

.social-media{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.social-media-icon{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: rgb(0, 0, 0);
}

.social-media-icon:hover{
    background: #fff;
    color:cadetblue);
}

.social-media-icon i{
    font-size: 30px;
    line-height: 60px;
}

































